{% extends 'base.html' %}
{% load static %}

{% block contenedor %}
    <div class="card col-4 m-auto mt-4 p-2 text-center">
        <h3>Cambiar Contraseña</h3>
        <form action="{% url 'cambio_passw' %}" method="post">
            {% csrf_token %}
            <input type="password" name="actual" placeholder="Contraseña Actual" class="form-control" required="">
            <br><br>
            <input type="password" name="clave1" placeholder="Contraseña Nueva" class="form-control" required="">
            <input type="password" name="clave2" placeholder="Repetir Contraseña" class="form-control mt-2" required="">
            <button type="submit" class="btn btn-primary mt-2">Cambiar</button>
        </form>
    </div>
{% endblock %}