h1, h3{
    color: blue;
}

.success{
    color: green;
    font-weight: bold;
}

.warning{
    color: orange;
    font-weight: bold;
}

.error{
    color: brown;
    font-weight: bold;
}

.info, .debug{
    color: #007BCB;
    font-weight: bold;
}