{% extends 'base.html' %}
{% load static %}

{% block contenedor %}
    <h1 style='color:red;'>Empleados</h1>
    <p>Empleado 1</p>
    <p>Empleado 2</p>
    <p>Empleado 3</p>
    <br>
    <a href="{% url 'index' %}">Regresar</a>
{% endblock %}