{% extends 'base.html' %}
{% load static %}

{% block contenedor %}
    <div class="p-3">
        <h1 style='color:red;'>Programas</h1>
        {% if request.session.auth.nombre_rol == "Profesor" %}
        <p><a href="{% url 'programa_detalle' 1 %}">Ingeniería de Software<a/></p>
        <p><a href="{% url 'programa_detalle' 2 %}">Ingeniería Mecánica<a/></p>
        <p><a href="{% url 'programa_detalle' 3 %}">Ingeniería Civil<a/></p>
        {% else %}
        <p>Sólo los profesores pueden acceder a los programas.</p>
        {% endif %}
        <br>
        <a href="{% url 'index' %}">Regresar</a>
    </div>
{% endblock %}