<!doctype html>
<html lang="es">
    <head>
        <title>UCC - Nómina</title>
    </head>
    <body>
        <h1 style='color:#56bd18;'>Programa:</h1>
        <p>
            <strong>{{ programa }}</strong>
        </p>
        <br>
        <a href="{% url 'ver_programas' %}">Regresar</a>
    </body>
</html>