{% extends 'base.html' %}
{% load static %}

{% block contenedor %}
    <h1>Formulario 1</h1>
    <!-- si va a enviar archivos, fotos, etc. usar enctype="multipart/form-data" -->
    <form action="{% url 'procesar_f1' %}" method="post">
        {% csrf_token %}
        <input class="form-control" type="number" name="num1" placeholder="Digite num1"><br/>
        <input class="form-control" type="number" name="num2" placeholder="Digite num2"><br/>
        <button class="btn btn-primary" type="submit">Sumar</button>
    </form>
{% endblock %}
