{% extends 'base.html' %}
{% load static %}

{% block contenedor %}

    <form action="{% url 'agregar_programas' %}" method="post" class="col-4 m-auto mt-3">
        {% csrf_token %}
        <h3>Agregar Programa</h3>
        <label>Código:</label>
        <input type="number" name="cod" min="100" max="999" class="form-control" required="" /><br/>
        <label>Nombre Programa:</label>
        <input type="text" name="nombre_pro" class="form-control" required="" /><br/>
        <label>Semestres:</label>
        <input type="number" name="semestres" min="2" max="12" class="form-control" required="" /><br/>

        <button type="submit" class="btn btn-success">Guardar</button>
    </form>
{% endblock %}