{% extends 'base.html' %}
{% load static %}

{% block contenedor %}

    <form action="{% url 'actualizar_programa' data.id %}" method="post" class="col-4 m-auto mt-3">
        {% csrf_token %}
        <h3>Actualizar Programa</h3>
        <label>Código:</label>
        <input value="{{ data.cod }}" type="number" name="cod" min="100" max="999" class="form-control" required="" /><br/>
        <label>Nombre Programa:</label>
        <input {% if request.session.auth.nombre_rol == "Profesor" %} readonly="" {% endif %} value="{{ data.nombre_pro }}" type="text" name="nombre_pro" class="form-control" required="" /><br/>
        <label>Semestres:</label>
        <input value="{{ data.semestres }}" type="number" name="semestres" min="2" max="12" class="form-control" required="" /><br/>

        <button type="submit" class="btn btn-warning">Actualizar</button>
    </form>
{% endblock %}