{% extends 'base.html' %}
{% load static %}

{% block contenedor %}
    <div class="p-3">
        <h1 style='color:red;'>Programas</h1>

            {% if request.session.auth.nombre_rol != "Profesor" %}
                <a href="{% url 'agregar_programas' %}" class="btn btn-success">Agregar</a>
            {% endif %}
            <table class="table">
                <thead>
                    <tr>
                        <th>ID</th>
                        <th>Código del Programa</th>
                        <th>Nombre del Programa</th>
                        <th>Semestres</th>
                        <th>Acciones</th>
                    </tr>
                </thead>
                <tbody class="table-group-divider">
                    {% for p in data  %}
                        <tr>
                            <td>{{ p.id }}</td>
                            <td>{{ p.cod }}</td>
                            <td>{{ p.nombre_pro }}</td>
                            <td>{{ p.semestres }}</td>
                            <td>
                                <a href="{% url 'actualizar_programa' p.id %}" class="btn btn-warning">Editar</a>
                                {% if request.session.auth.nombre_rol != "Profesor" %}
                                    <a href="{% url 'eliminar_programa' p.id %}" class="btn btn-danger">Eliminar</a>
                                {% endif %}
                            </td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
            <nav aria-label="Page navigation example">
                <ul class="pagination">
                    <li class="page-item"><a class="page-link" href="#">Previous</a></li>
                    <li class="page-item"><a class="page-link" href="#">1</a></li>
                    <li class="page-item"><a class="page-link" href="#">2</a></li>
                    <li class="page-item"><a class="page-link" href="#">3</a></li>
                    <li class="page-item"><a class="page-link" href="#">Next</a></li>
                </ul>
            </nav>

    </div>
{% endblock %}