{% load static %}

<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>App</title>
    <link href="{% static 'estilos.css' %}" rel="stylesheet" />

    <link rel="apple-touch-icon" sizes="180x180" href="{% static 'favicon_io/apple-touch-icon.png' %}">
    <link rel="icon" type="image/png" sizes="32x32" href="{% static 'favicon_io/favicon-32x32.png' %}">
    <link rel="icon" type="image/png" sizes="16x16" href="{% static 'favicon_io/favicon-16x16.png' %}">
    <link rel="manifest" href="{% static 'favicon_io/site.webmanifest' %}">
</head>
<body>
    <h1>Inicio</h1>
    <p>Hola mundo...!</p>
    <p>Hoy es: {{ datos }}</p>
    <p><img alt="logo" src="{% static 'logo.jpeg' %}" width="30%" /></p>


    <script src="{% static 'funciones.js' %}"></script>
</body>
</html>